<strong class="overflow-ellipsis notification__title txt-small txt-tight-lines"><%= "OMG" %></strong>
<div class="overflow-ellipsis txt-small txt-tight-lines">
  YOU WERE MENTIONED!
</div>
<div class="tray__item-meta overflow-ellipsis translucent"> <%= local_datetime_tag(notification.created_at, style: :ago) %></div>
